* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: monospace;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    overflow: hidden;
    transition: background-color 1000ms;
}
#arena {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    z-index: 100;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background-color: #464646;
    
    will-change: transform;
}
#restrictedArea > div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px dashed #7b7b7b;
}
#noforceArea {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px dashed #ffa0a0;
}
.player {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -25px;
    top: -25px;
    border: 1px #333 solid;
    z-index: 200;
    border-radius: 50%;

    will-change: transform;
}
#p0 {
    background-color: #3DD2CC;
}
#p1 {
    background-color: #A6E3E9;
}
#p2 {
    background-color: #E84A5F;
}
#p3 {
    background-color: #FF847B;
}

#state {
    position: absolute;
    left: 50%;
    top: -1.3em;
    transform: translate(-50%, 0);
    color: white;
    background-color: #464646;
    padding: 2em 1em 1em 1em;
    border-radius: 10px;
    width: 10em;
    text-align: center;
    z-index: 9999;
}


/* selection panel */
#selection-panel {
    display: none;
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    z-index: 900;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2em 1em;
    border-radius: 3px;
    border: 1px #dedede solid;
}
#selection-panel > strong {
    font-size: 2em;
}
#selection-panel > hr {
    height: 1px;
    background-color: #dedede;
    margin: 4em 0 2em 0;
}
#agent-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em 0;
}
#agent-collection > div {
    padding: 1em;
    margin: 1.5% 0;
    color: white;
    background-color: #333;
    width: 22%;
    cursor: pointer;
    box-sizing: border-box;
    transition: opacity 300ms;
    opacity: .64;
    will-change: opacity;
}
#agent-collection > div.active,
#agent-collection > div:hover {
    opacity: 1;
}
#player-selected {
    display: flex;
}
#player-selected > strong {
    flex: 0.5;
    font-size: 2em;
    font-style: italic;
    color: #333;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}
#player-selected > div {
    flex: 1;
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: opacity 500ms;
    opacity: 0.8;
    cursor: pointer;
    font-weight: 900;
}
#player-selected > div.active {
    animation-name: blink;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#player-selected > div:hover {
    opacity: 1;
}
#p0-select {
    color: rgba(0, 0, 0, .6);
    background-color: #3DD2CC;
}
#p1-select {
    color: rgba(0, 0, 0, .6);
    background-color: #A6E3E9;
}
#p2-select {
    color: rgba(255, 255, 255, .8);
    background-color: #E84A5F;
}
#p3-select {
    color: rgba(255, 255, 255, .8);
    background-color: #FF847B;
}
.selection-panel-btn-block button {
    flex: 1;
    margin: 0 1em;
    font-size: 1.5em;
    font-style: italic;
    padding: 1em 0;
    text-align: center;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.selection-panel-btn-block button:hover {
    text-decoration: underline;
}
#player-clear {
    color: white;
    background-color: #E84A5F;
}
#player-select-done {
    color: white;
    background-color: #7fb959;
}
.remote-agent {
    text-decoration: underline;
}
#debug-mode {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
}


/* room setting pannel */
#connect-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 90%;
    max-width: 500px;
    background-color: #292929;
    border-radius: #333;
    padding: 2em 0;
    color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 0 1px white;
}

#connect-panel header {
    display: block;
    text-align: center;
    font-size: 1.5em;
}

#connect-panel section {
    display: block;
    text-align: center;
    margin-top: 1em;
}

#connect-panel label {
    display: block;
    font-size: 1em;
    margin: 0 auto;
}

#connect-panel input {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
    padding: .3em 0;
    text-align: center;
    color: #333;
    background-color: #eee;
    border-radius: 3px;
}
#connect-panel button {
    font-size: 1em;
    padding: .5em 1em;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 2em 1em 0 1em;
}

#game-result {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
}
#game-result strong {
    display: block;
    font-size: 4em;
    text-shadow: 2px 2px white;
    margin-bottom: .5em;
    text-align: center;
}
#game-result button {
    font-size: 1em;
    padding: .5em 1em;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 2em 1em 0 1em;
    background-color: #333;
    color: white;
}

#connect {
    background-color: #7fb959;
}
#offline {
    background-color: #FF847B;
}

.center-flex {
    display: flex;
    justify-content: center;
}

@keyframes blink {
    from {opacity: 0.6;}
    to {opacity: 1;}
}
